body{
    background-color: #F9DC1E;
}
.container{
    text-align: center;
    border: solid;
    border-color: black;
    border-radius: 15px;
    margin: 25px;
    padding-bottom: 50px;

}
img{
    width:250px;
}
h1{
    font-weight: 500;
    font-style: normal;
    line-height: 150px;
    font-family: "Varela Round", sans-serif;
}
button{
    text-align: center;
    width: 150px;
    background-color: #069EDB;
    border-radius: 35px;
    text-decoration: none;
}